<app-topslider></app-topslider>
<app-TopMenuBar></app-TopMenuBar>

<!-- <div class="vh-150 d-flex p-2 align-items-center justify-content-center  ">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card-body m-5 ">
          <h1 class="text-center themeClr"> Publisher Dashboard </h1>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row mt-2 mb-4 d-flex justify-content-center p-5">
  <div class="card">
    <div class="card-body">
      <div class="row d-flex justify-content-around">
        <label class="col-3 fw-bolder">User Name
        </label>
        <label class="col-3 text-danger fw-bolder  ">{{this.candidateName}} </label>

        <label class="col-3 fw-bolder">Email Id</label>
        <label class="col-3 text-danger fw-bolder ">
          {{this.userId?.length>0 ? this.userId: 'NA' }}
        </label>
      </div>
    </div>
  </div>
</div> -->
<div class="vh-150 d-flex p-2 align-items-center justify-content-center p-5 table-container">

  <div class="container  table-bordered table-responsive ">
    <div class="row">
      <div class="col-md-12 stretch-card">
        <div class=" accordionColor ">
        
        </div>
      </div>
    </div>
  </div>
</div>
