<app-topslider></app-topslider>
<app-journalmenubar></app-journalmenubar>
<app-journal-inner-menu></app-journal-inner-menu>
<div class="container-fluid  p-0 mt-3">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card-body main-heading">   
        <h1 class="mb-4 text-center">Lpu e-Journals </h1>
        <br />
        <h1 class="mb-2 text-center main-heading "> Password Reset Page </h1>
      </div>
    </div>
  </div>
</div>
<div class="wizard-container vh-100 ">
  <div class="container-fluid  ">
    
    <div class="row ">
      <div class="col-md-12 grid-margin stretch-card">
          <div class="card-body main-heading">
            <!-- Step 1: Email Form -->
            <div *ngIf="currentStep == 1" class="container">
              <h3 class="main-heading">Your Registered Email</h3>
              <form [formGroup]="emailFormGroup" novalidate>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  required
                  autocomplete="off"
                />
                <div *ngIf="emailFormGroup.get('email')?.touched && emailFormGroup.get('email')?.dirty && emailFormGroup.get('email')?.invalid">
                  <small *ngIf="emailFormGroup.get('email')?.hasError('required')">Email is required.</small>
                  <small *ngIf="emailFormGroup.get('email')?.hasError('email')">Enter a valid email.</small>
                </div>
                <!-- <button class="col-sm-2 mt-4" class="btn btn-outline-danger" type="button" (click)="checkEmail()" [disabled]="emailFormGroup.invalid">Next</button> -->
                <button  class="btn btn-outline-danger mt-4" type="button" (click)="checkEmail()" [disabled]="emailFormGroup.invalid">Next</button>


                <p *ngIf="errorMessage" class="error text-danger fs-5 p-4 fw-bolder">{{ errorMessage }}</p>
              </form>
              <!-- <div *ngIf="currentStep === 1">
                <h3>Provide Your Email</h3>
                <form [formGroup]="emailFormGroup">
                  <input type="email" formControlName="email" required />
                  <button type="button" (click)="nextStep()" [disabled]="emailFormGroup.invalid">Next</button>
                </form>
              </div> -->
            </div>

            <!-- Step 2: ID Proof Verification -->
            <div *ngIf="currentStep === 2" class="container">
              <h2 class="col-md-12 fs-2 ">  Verify {{ idProofType }}  Number</h2>
              <form [formGroup]="idProofFormGroup">
                <input type="password" id="idProofNumber" formControlName="idProofNumber" required />
                <div
                  *ngIf="idProofFormGroup.get('idProofNumber')?.touched && idProofFormGroup.get('idProofNumber')?.invalid">
                  <small>ID Proof Number is required.</small>
                </div>
                <div class="row d-flex justify-content-between mt-4 mb-4 ">
                  <button  class="btn btn-outline-danger col-2 m-4" type="button" (click)="previousStep()">Back</button>
                  <button class="btn btn-outline-danger  col-2 m-4" (click)="verifyIdProof()" [disabled]="idProofFormGroup.invalid">Next</button>
                  <!-- <button class="col-2 me-4 " type="button" (click)="previousStep()">Back</button> -->
                  <!-- <button class="col-2 me-4 " (click)="verifyIdProof()" [disabled]="idProofFormGroup.invalid">Next</button> -->
                </div>
                <p *ngIf="errorMessage" class="error text-danger fs-5 p-4 fw-bolder">{{ errorMessage }}</p>
              </form>
            </div>

            <!-- Step 3: Reset Password -->
            <div *ngIf="currentStep === 3" class="container">
              <h2>  Reset Your Password</h2>
              <form [formGroup]="resetPasswordFormGroup">
                <label for="password">New Password</label>
                <input type="password" id="password" formControlName="password" required />
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" required />
                <div
                  *ngIf="resetPasswordFormGroup.get('password')?.invalid && resetPasswordFormGroup.get('password')?.touched">
                  <small>Password must be at least 8 characters long.</small>
                </div>
                <div
                  *ngIf="resetPasswordFormGroup.get('confirmPassword')?.touched && resetPasswordFormGroup.get('confirmPassword')?.invalid">
                  <small>Confirm Password is required.</small>
                </div>
                <div class="row d-flex justify-content-between mt-4 mb-2 ">
                  <button class="col-2 me-4 " type="button" (click)="previousStep()">Back</button>
                  <button class="col-4 LpuLogin" (click)="resetPassword()" [disabled]="resetPasswordFormGroup.invalid">Reset
                    Password</button>
                </div>
              </form>
            </div>
          </div>
          <!-- Error Message -->
          
        </div>
    </div>
    <div class="container border-0" >
      <div class="d-flex justify-content-between">  
        <a (click)="VisitUrl(BookId, name, 'ExternalLogin')" class="signupLink">Login </a> 
       <a (click)="VisitUrl(BookId, name, 'signup')"  class="signupLink" ><strong>Signup </strong></a>
    </div>
    <!-- <div class="mt-3 mb-4">
        By Login you agree with <a href="">terms and conditions</a> and <a href="">privacy policy</a>
    </div> -->

    </div>
  </div>

</div>